[Mumble]

# Details for connecting to the Mumble server
host: mumble.example.com
port: 6502
secret: hunter2

# Names of the Mumble chat rooms for the two TF2 teams
BLU_room: Byggarnas allians
RED_room: Driftsäker utgrävning och demolering
